@font-face {
  font-family: Oswald;
  src: url('./assets/fonts/Oswald-VariableFont_wght.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Oswald, Arial, Helvetica, sans-serif;
}

.active {
  background-color: #ff4654;
  border-radius: 20px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #bdbcbd #102130;
}

/* Chrome, Edge, and Safari */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #102130;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #bdbcbd;
  border-radius: 4px;
  border: 0px none #ffffff;
}
